<div class="change-password-background">
  <div class="change-password-container">
    <div class="change-password-header">
      <button class="change-password-button-comeback" (click)="goBack()">
        ←
      </button>
    </div>
    <div class="change-password-logos">
      <img
        class="change-password-logo uptc-logo"
        src="/logo_uptc.png"
        alt="Logo UPTC"
      />
      <hr class="change-password-divider" />
      <img
        class="change-password-logo incitema-logo"
        src="/logo_incitema.png"
        alt="Logo INCITEMA"
      />
    </div>
    <h2 class="change-password-title">CAMBIAR CONTRASEÑA</h2>
    <p>Ingresa tu nueva contraseña</p>
    <form class="change-password-form" (ngSubmit)="onChangePassword()">
      <div class="change-password-password-wrapper">
        <input
          class="change-password-input password-field"
          [type]="isNewPasswordVisible ? 'text' : 'password'"
          [(ngModel)]="newPassword"
          name="newPassword"
          placeholder="Nueva contraseña"
          required
        />
        <span
          class="change-password-toggle-password"
          (click)="togglePasswordVisibility('new')"
        >
          {{ isNewPasswordVisible ? "🙈" : "👁️" }}
        </span>
      </div>
      <div class="change-password-password-wrapper">
        <input
          class="change-password-input password-field"
          [type]="isConfirmPasswordVisible ? 'text' : 'password'"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          placeholder="Confirmar contraseña"
          required
        />
        <span
          class="change-password-toggle-password"
          (click)="togglePasswordVisibility('confirm')"
        >
          {{ isConfirmPasswordVisible ? "🙈" : "👁️" }}
        </span>
      </div>
      <button class="change-password-button" type="submit">Continuar</button>
    </form>
  </div>
</div>
