<div class="forgot-password-background">
  <div class="forgot-password-container">
    <div class="forgot-password-header">
      <button class="forgot-password-button-comeback" (click)="goBack()">
        ←
      </button>
    </div>
    <div class="forgot-password-logos">
      <img
        class="forgot-password-logo uptc-logo"
        src="/logo_uptc.png"
        alt="Logo UPTC"
      />
      <hr class="forgot-password-divider" />
      <img
        class="forgot-password-logo incitema-logo"
        src="/logo_incitema.png"
        alt="Logo INCITEMA"
      />
    </div>
    <h2 class="forgot-password-title">RECUPERAR CONTRASEÑA</h2>
    <p>Ingresa tu usuario Institucional</p>
    <form class="forgot-password-form" (ngSubmit)="login()">
      <div class="forgot-password-username-wrapper">
        <input
          class="forgot-password-input username-input"
          type="text"
          [(ngModel)]="username"
          name="username"
          (input)="onUsernameInput($event)"
          placeholder="Usuario Institucional"
          required
        />
        <span class="forgot-password-domain">&#64;uptc.edu.co</span>
      </div>
      <button class="forgot-password-button" type="submit">Buscar</button>
    </form>
  </div>
</div>
